
<template name="aggressorsList">
    {{> evilBackground}}
    <h1 style="text-shadow: -1px -1px 1px rgba(25, 0, 0, 1);
    z-index: 10;">Aggressors</h1>
    {{> esInput index="aggressors" id="aList" class="search form-control"  placeholder="Search..." allDocsOnEmpty=true}}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Full Name</th>
            <th>Alias</th>
        </tr>
        </thead>
        <tbody>

        {{#ifEsIsSearching id="aList" index="aggressors"}}
            <div>Loading...</div>
        {{else}}
            {{#esEach id="aList" index="aggressors"}}
                {{>aggressorItemTable}}
            {{/esEach}}

            {{> esLoadMoreButton id="aList" index="aggressors"}}
        {{/ifEsIsSearching}}

        {{#ifEsHasNoResults id="aList" index="aggressors"}}
            <div class="no-results">No results found!</div>
        {{/ifEsHasNoResults}}


        </tbody>
    </table>
    {{> cityFiltersAggressors}}
</template>


<template name="aggressorItemTable">
    <tr class="rowItem" style="cursor: pointer;">
        <td>{{#if noNames}}Unknown{{else}}{{name}} {{lastName}}{{/if}}</td>
        <td>{{listOfAliases}}</td>
    </tr>
</template>

<template name="cityFiltersAggressors">

    {{#each cities}}
        <input id="{{this}}" type="button" class="cityFilter btn btn-secondary" value="{{this}}"/>
    {{/each}}
</template>
