<template name="aggressorItem">

    <h1>

        {{#if realName}}
            {{firstName}} {{lastName}}
        {{else}}
            Unknown Name
        {{/if}}
        <!-- FIXME this should only be shown if you posted something about this person -->
        <a href="{{pathFor 'editAggressor'}}"> Edit</a>
    </h1>
        Aliases: {{aliasesString}}
    {{#if reportsWithAggressor}}
    <h2>Reports</h2>
    {{/if}}
    {{#each reportsWithAggressor}}
        <h3><a id="#editButton" href="{{pathFor 'reportItem'}}">{{title}}</a></h3>
        {{> reportDetails}}
    {{/each}}
</template>