
<template name="aggressorsList">


    <div>
    <h1 style="text-shadow: -1px -1px 1px rgba(25, 0, 0, 1);
    z-index: 10;">Aggressors</h1>
    {{> esInput index="aggressors" id="aList" class="search form-control"  placeholder="Search..." allDocsOnEmpty=true}}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Photo</th>
            <th>Full Name</th>
            <th>Alias</th>
            <th>Locations</th>
        </tr>
        </thead>
        <tbody>

        {{#ifEsIsSearching id="aList" index="aggressors"}}
            <div>Loading...</div>
        {{else}}
            {{#esEach id="aList" index="aggressors"}}
                {{>aggressorItemTable}}
            {{/esEach}}

            {{> esLoadMoreButton id="aList" index="aggressors"}}
        {{/ifEsIsSearching}}

        {{#ifEsHasNoResults id="aList" index="aggressors"}}
            <div class="no-results">No results found!</div>
        {{/ifEsHasNoResults}}


        </tbody>
    </table>
    {{> cityFiltersAggressors}}
    </div>
</template>


<template name="aggressorItemTable">
    <tr class="rowItem" style="cursor: pointer;">
        <td>{{#with photos.[0]}}<a href="{{pathFor 'aggressorItem'}}" style="display:block;">
                <!-- <div class="col-sm-6 col-md-3">-->

                <div style="border-radius:50%; float:left; height:118px; width:118px; background-size: cover; background-image: url('{{this}}');">
                </div>

                <!--</div>-->
        </a> {{/with}}
            </td>
        <td>
            {{#if noNames}}Unknown{{else}}{{name}} {{lastName}}{{/if}} </td>
        <td>{{listOfAliases}}</td>
        <td>{{#each locations}} {{this}} {{/each}}</td>
    </tr>
</template>

<template name="cityFiltersAggressors">
    <h2>Search by city</h2>
    {{#each cities}}
        <input id="{{this}}" type="button" style="background-color: white; color:black; font-weight: bolder;" class="cityFilter btn btn-secondary" value="{{this}}"/>
    {{/each}}
</template>
