<template name="aggressorItem">
    <div>
    {{#with photos.[0]}}<a href="{{pathFor 'aggressorItem'}}" style="display:block;">
        <!-- <div class="col-sm-6 col-md-3">-->

        <div style="border-radius:50%; float:left; height:150px; width:150px;margin-right: 10px; background-size: cover; background-image: url('{{this}}');">
        </div>

        <!--</div>-->
    </a> {{/with}}
    <h1>

        {{#if realName}}
            {{name}} {{lastName}}
        {{else}}
            Unknown Name
        {{/if}}
        {{#if currentUser}}

        <small>{{> social_buttons url=(pathFor 'aggressorItem') text=shareString}}<a id="edit" href="#"> edit</a></small>
        {{/if}}
    </h1>
        Aliases: {{aliasesString}}<br/>
        Locations: {{locationsString}}
    </div>
    {{#if firstPhoto}}
        <br/>
        <h2>Photos</h2>
        <div class="row">
            {{#each photos}}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">


                        <img src="{{this}}"/>

                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}
    {{#if reportsWithAggressor}}
    <h2>Reports</h2>
    {{/if}}
    {{#each reportsWithAggressor}}
        <h3><a id="#editButton" href="{{pathFor 'reportItem'}}">{{location}}</a></h3>
        {{> reportDetails}}
    {{/each}}
</template>