<template name="aggressorItem">
<img src="{{firstPhoto}}"/>
    <h1>

        {{#if realName}}
            {{name}} {{lastName}}
        {{else}}
            Unknown Name
        {{/if}}
        {{#if currentUser}}
        <a id="edit" href="#"> edit</a>
        {{/if}}
    </h1>
        Aliases: {{aliasesString}}
    {{#if firstPhoto}}
        <h2>Photos</h2>
        <div class="row">
            {{#each photos}}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">


                        <img src="{{this}}"/>

                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}
    {{#if reportsWithAggressor}}
    <h2>Reports</h2>
    {{/if}}
    {{#each reportsWithAggressor}}
        <h3><a id="#editButton" href="{{pathFor 'reportItem'}}">{{title}}</a></h3>
        {{> reportDetails}}
    {{/each}}
</template>