.h1 .h2 .h3 .h4 .h5 .h6{
    color: white;
    text-shadow: -3px -3px 1px rgba(25, 0, 0, 1);
    z-index: 10;
}

.rowItem:hover {
    color: black;
}


body {
    height:100%;
    min-height: 100%;
    background-attachment: fixed;
    padding-top: 70px;
    color:white;
    background-color:#1b1b1b;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-control {
    background-color:rgba(0, 0, 0, 0.7);
    color: white;
}

.btn-secondary {
    background-color:lightgreen;
}

.bootstrap-datetimepicker-widget {
    background-color: black;
}

.background {
    position:absolute;
    top:0;
    left: 0;
    z-index: -1;
}

.cityFilter {
    margin: 10px;
}