<!--TODO landing page-->
<template name="home">
    <div class="background hidden-xs" style="height:60%; width:100%; background-color:#1b1b1b;">
        <div style="margin-top:50px;">

        {{#each reports}}
            {{#each evidence.photos}}
                <!-- <div class="col-sm-6 col-md-3">-->
                    <div style="float:left; height:100px; width:100px; background-size: cover; background-image: url('{{this}}');">
                    </div>
                <!--</div>-->
            {{/each}}
        {{/each}}
        </div>

    </div>
    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <!-- <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle stats</button>-->
            </p>
            <div class="jumbotron" style="color: black; background-color: rgba(255, 255, 255, 0.73);">
                <h1>Stop the abuse</h1>
                <p>Persecution and aggression aren't ok. No more impune regimes.</p>
            </div><h2>FAQ</h2>
            <div class="row">

                <div class="col-xs-6 col-lg-4">
                    <h3>Heading</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h3>Heading</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h3>Heading</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h3>Heading</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h3>Heading</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h3>Heading</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                </div><!--/.col-xs-6.col-lg-4-->
            </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <h2>Stats</h2>
            <div class="list-group">

                <h3>{{countVictims}} <small>victim{{#if (isPlural countVictims)}}s{{/if}}</small></h3>
                <h3>{{countReports}} <small>report{{#if (isPlural countReports)}}s{{/if}}</small></h3>
                <h3>{{countAggressors}} <small>aggressor{{#if (isPlural countAggressors)}}s{{/if}}</small></h3>
            </div>
        </div><!--/.sidebar-offcanvas-->
    </div><!--/row-->
</template>