<!--TODO landing page-->


<template name="evilBackground">
    <div class="background hidden-xs" style="height:60%; width:100%;">
        <div style="margin-top:50px;">

            {{#each aggressors}}
                <a href="{{pathFor 'aggressorItem'}}" style="display:block;">
                    {{#with photos.[0]}}
                        <!-- <div class="col-sm-6 col-md-3">-->

                        <div style="float:left; height:118px; width:118px; background-size: cover; background-image: url('{{this}}');">
                        </div>

                        <!--</div>-->
                    {{/with}}
                </a>
            {{/each}}
        </div>

    </div>
</template>
<template name="home">
    {{> evilBackground}}
    <div class="row row-offcanvas row-offcanvas-right" style="z-index:5">

        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <!-- <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle stats</button>-->
            </p>
            <div class="jumbotron" style="color: white; background-color: transparent;">
                <h1>Stop the abuse</h1>
                <p>Persecution and aggression aren't ok. No more impune regimes.</p>
            </div>
            <!-- <h2>FAQ</h2> -->
            <div style="display:none;" class="row">

                <div class="col-xs-6 col-lg-4">
                    <h3>Heading</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h3>Heading</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h3>Heading</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h3>Heading</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h3>Heading</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h3>Heading</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                </div><!--/.col-xs-6.col-lg-4-->
                 </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->


        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <h1>Stats</h1>
            <div class="list-group">

                <h1>{{countVictims}} <small>victim{{#if (isPlural countVictims)}}s{{/if}}</small></h1>
                <h1>{{countReports}} <small>report{{#if (isPlural countReports)}}s{{/if}}</small></h1>
                <h1>{{countAggressors}} <small>aggressor{{#if (isPlural countAggressors)}}s{{/if}}</small></h1>
            </div>
        </div><!--/.sidebar-offcanvas-->
    </div><!--/row-->
    <h2>Nota del presidente de los Estados Unidos</h2>
    <p>La directiva presidencial firmado el 4 de agosto de 2011 por el presidente Barack Obama dice en parte de la siguiente manera:</p>

    <p>POR TANTO, YO, <i>BARACK OBAMA</i>, por la autoridad investida en mí como Presidente por la Constitución y las leyes de los Estados Unidos de América, incluyendo la sección 212 (f) de la Ley 1952 de Inmigración y Nacionalidad, según enmendada (8 USC 1182 (f)), y la sección 301 del título 3, Código de Estados Unidos, por la presente, encontramos que el inmigrante sin restricciones y la entrada de no inmigrante a los Estados Unidos de las personas descritas en el apartado 1 de este anuncio sería perjudicial para los intereses de Estados Unidos. Por lo tanto, por la presente proclamo que:</p>
    <p><b>Sección 1.</b> La entrada en los Estados Unidos, como inmigrantes o no inmigrantes, de las siguientes personas quedan suspendidas:</p>
    <li><b>(a)</b> Todo extranjero que estaba previsto, ordenado, con la asistencia, con la complicidad, cometió o participó de otro modo, incluyendo a través de la responsabilidad del mando, violencia generalizado o sistemático contra una población civil con base en su totalidad o en parte, en la raza; el color; descenso; sexo; discapacidad; la pertenencia a un grupo indígena; idioma; religión; la opinión política; origen nacional; origen étnico; pertenencia a un grupo social determinado; nacimiento; o la orientación sexual o identidad de género, o que intentaron o conspiraron para hacerlo.</li>
    <li><b>(b)</b> Cualquier extranjero que planeó, ordenó, con la asistencia, con la complicidad, cometido o participado de otro modo, incluyendo a través de la responsabilidad del mando, crímenes de guerra, crímenes contra la humanidad u otras violaciónes graves de los derechos humanos, o que intento o conspirado para hacerlo.</li>


</template>